@charset "UTF-8";

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.colors-darkmode {
  --text-color: #ffffff;
  --slider-check: #ffffff;
  --highlight: #ffffff25;
  --stroke: #ffffff80;
  --surface: #ffffff18;
  --surface_hover: #ffffff05;

  --bg-mobile: url(./assets/bg-mobile.jpg);
  --bg-desktop: url(./assets/bg-desktop.jpg);
  --slider-simbol: url(./assets/moon-stars.svg);
}

.colors-lightmode {
  --text-color: #000000;
  --slider-check: #ffffff;
  --highlight: #00000025;
  --stroke: #00000080;
  --surface: #00000018;
  --surface_hover: #00000005;

  --bg-mobile: url(./assets/bg-mobile-light.jpg);
    --bg-desktop: url(./assets/bg-desktop-light.jpg);
  --slider-simbol: url(./assets/sun.svg);
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  font-size: 1.6rem;
  background: var(--bg-mobile) no-repeat;
  background-size: cover;
  color: var(--text-color);
  
  font-family: "Inter", sans-serif;
  line-height: 2.4rem;
  
  padding: 2rem;
}

body::-webkit-scrollbar{
  display: none;
}

h1 {
  font-weight: 500;
}

a {
  all: unset;
  cursor: pointer;
}

p {
  font-size: 1.4rem;
}

p > a {
  text-decoration: underline;
}

img {
  width: 18.2rem;
  height: 18.2rem;
}

.grid {
  display: grid;
}

#app {
  /* max-width: 35rem; */
  max-width: 588px;
  margin: auto;
}

.container {
  justify-items: center;

  padding: 2.4rem;
}

#profile {
  padding-top: 5.6rem;
  gap: 0.8rem;
}

#links {
  gap: 1.6rem;
}

#links > .button {
  all: unset;

  border-radius: 0.8rem;
  border: 0.1rem solid var(--stroke);
  background-color: var(--surface);

  width: 100%;
  padding: 2rem;

  text-align: center;
  cursor: pointer;
}

#links > .button:hover {
  background-color: var(--surface_hover);
}

#social_links {
  display: flex;
  gap: 2.6rem;
  justify-content: center;
}

/*-------------------------------------------------------------------------------------------------------------------*/

/* The switch - the box around the slider */
#switch {
  padding: 0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 6rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--surface);
  border: 0.1rem solid var(--stroke);

  width: 6.4rem;
  height: 2.4rem;

  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 3.2rem;
  width: 3.2rem;
  left: -.2rem;
  bottom: -.5rem;
  z-index: 1;
  background: var(--slider-check) var(--slider-simbol) no-repeat center center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::after {
  pointer-events: none;
  opacity: 0;
  position: absolute;
  content: "";
  height: 5rem;
  width: 5rem;
  left: -1.1rem;
  bottom: -1.4rem;
  z-index: 0;
  background: var(--highlight);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  
}

.slider:active::after {
  opacity: 1;
}

input:checked + .slider {
  background-color: var(--surface);
}

input:checked + .slider::before, input:checked + .slider::after{
  -webkit-transform: translateX(3.6rem);
  -ms-transform: translateX(3.6rem);
  transform: translateX(3.6rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 999rem;
}

.slider.round::before, .slider.round::after {
  border-radius: 50%;
}

/* ===================== Media Screen =========================== */

@media (min-width: 815px) {
  body {
    background: var(--bg-desktop) no-repeat fixed;
    background-size: cover;
  }
}